.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px 0 25px;
}

.search-input-container {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    max-width: 500px;
    border-radius: 25px;
    box-shadow: 0px 0px 3px #dee1e7;
    padding: 10px;
    justify-content: space-between;
    overflow: hidden;
}

.search-input {
    border: none;
    flex: 1;
}

.account-container {
    border-left: #85848d 2px solid;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.account-container p {
    margin: 0;
    font-weight: 700;
}

.switch-theme-button,
.add-project-button,
.notify-button {
    background-color:transparent;
    border: none;
    width: 30px;
    height: 30px;
}

.switch-theme-button {
    background-image: url("images/moon.svg");
    background-size: cover;
    width: 20px;
    height: 20px;
}

.add-project-button {
    background-image: url("images/plus.svg");
    background-size: cover;
    width: 20px;
    height: 20px;
}

.notify-button {
    background-image: url("images/bell.svg");
    background-size: cover;
    width: 20px;
    height: 20px;
}


.header-right-container {
    display: flex;
    column-gap: 15px;
    align-items: center;
    padding-left: 10px;
}

.header-left-container {
    display: flex;
    column-gap: 15px;
    flex: 5;
    align-items: center;
}