.left-menu-container {
   display: flex;
   flex-direction: column;
   gap: 30px;
   margin: 50px 0;
}

.home-button, 
.chart-button, 
.calendar-button, 
.settings-button  {
    background-color:transparent;
    border: none;
    width: 30px;
    height: 30px;
}

.home-button {
    background-image: url("images/home.svg");
    background-size: cover;
    width: 20px;
    height: 20px;
}
.chart-button {
    background-image: url("images/chart.svg");
    background-size: cover;
    width: 20px;
    height: 20px;
}
.calendar-button {
    background-image: url("images/calendar.svg");
    background-size: cover;
    width: 20px;
    height: 20px;

}
.settings-button {
    background-image: url("images/settings.svg");
    background-size: cover;
    width: 20px;
    height: 20px;
}